.mainPage{
  background-color: aquamarine;
  min-height: 750px;
  text-align: center;
}
.App{
  margin-top: 0%;
  text-align: center;
  font-family:sans-serif;
  min-height: 750px;
  background-image: linear-gradient(45deg, rgb(0, 255, 221) 50%,rgb(34, 157, 228) 50%);
}
.heading{
  font-family:sans-serif;
}
input{
  outline: none;
  font-size: 20px;
  border-style: hidden;
}
input:focus{
  background-color: aqua;
}
.sbt,.login{
  background-color:rgb(126, 243, 122);
  font-family: sans-serif;
  font-size:1.5rem;
  border-style: none;

}
ul li {
  list-style-type: decimal;
}
.todobtn ,.authbtn{
  font-family: sans-serif;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 200px;
  background-color:rgba(230, 117, 12, 0.89);
}
